@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=DM+Serif+Display&display=swap");


body{
    width: 100%;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 3em;
    font-family: Cinzel;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

h1 {
    font-size: 4em;
    font-weight: 600;
}

p {
    font-size: 1.1em;
}

section {
    gap: 1em;
}
